@import "tailwindcss";

@theme{
    --color-primary:#FF5AF
}
.leaflet-container{
    z-index:0 !important;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance:none;
    margin:0;
}
